.jay-cont {
    /* background-image: url("LIbkg2.jpg"); The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/abcd.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .jay-card{
      background-color: rgba(255, 255, 255, 0.37);
      margin-top: 50px;
      margin-bottom: 50px;

  }